* {
    background-color: lightgrey;
}

.bigcontainer {
    width:1122px;
    height:688px;
    border: solid 3px grey;
    margin: 0px auto;
    position:relative;
}

.a1 {
    position:absolute;
    width:374px;
    height:150px;
    top:150px;
    left:0px;
    border:solid 3px grey;
}

.a2 {
    position:absolute;
    width:374px;
    height:150px;
    top:150px;
    left:374px;
    border: solid 3px grey;
}

.a3 {
    position:absolute;
    width:374px;
    height:150px;
    top:150px;
    left:748px;
    border:solid 3px grey;
}

.b1 {
    position:absolute;
    width:561px;
    height:250px;
    top:300px;
    left:0px;
    border:solid 3px grey;
}

.b2 {
    position:absolute;
    width:561px;
    height:250px;
    top:300px;
    left:561px;
    border:solid 3px grey;
}