* {
    margin:0px;
    padding:0px;
    background-color: lightblue;
    color:white;
}

body {
    width:726px;
    height:744px;
    margin:40px auto;
    border:solid 3px green;
}

h1 {
    margin:50px auto;
    text-align: center;
    font-style: italic;
}

nav {
    text-align: center;
    font-weight: bold;
}

.portfolio {
    color:green;
}

h2 {
    margin-left: 30px;
    margin-top: 30px;
}

.firstp {
    height:250px;
    width:450px;
    margin-left:30px;   
    text-align: left;    
    font-size: 18px;
    margin-top: 30px;
}

.secondp {
    margin-left:30px;
    text-align: left;
    font-size: 18px;

}

img {
    height:300px;
    margin-top: 30px;
    float:right;
    margin-right: 30px;
}

footer {
    display:flex;
    justify-content: center;
}

footer span {
    margin-top:20px;
    color:black;
}

.redes {
    color:green;
    margin-top: 30px;
}