* {
    background-color: lightgrey;
}

.bigcontainer {
    width:1122px;
    height:688px;
    border: solid 3px grey;
    margin: 0px auto;
    position:relative;
}

.a1 {
    position:absolute;
    width:1122px;
    height:200px;
    top:150px;
    left:-3px;
    border:solid 3px grey;
}

.b1 {
    position:absolute;
    width:400px;
    height:200px;
    top:350px;
    left:-3px;
    border: solid 3px grey;
}

.b2 {
    position:absolute;
    width:720px;
    height:200px;
    top:350px;
    left:399px;
    border: solid 3px grey;
}

